/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400 !important ;600 !important ;700&display=swap") ;
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 6rem !important ;
  --font-semi: 600 !important ;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224 !important ;
  --first-color: hsl(var(--hue-color), 89%, 60%) !important ;
  --second-color: hsl(var(--hue-color), 56%, 12%) !important ;
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif !important ;
  --big-font-size: 2rem !important ;
  --h2-font-size: 1.25rem !important ;
  --normal-font-size: .938rem !important ;
  --smaller-font-size: .75rem !important ;
  /*===== Margenes =====*/
  --mb-2: 1rem !important ;
  --mb-4: 2rem !important ;
  --mb-5: 2.5rem !important ;
  --mb-6: 3rem !important ;
  /*===== z index =====*/
  --z-back: -10 !important ;
  --z-fixed: 100 !important ;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem !important ;
    --h2-font-size: 2rem !important ;
    --normal-font-size: 1rem !important ;
    --smaller-font-size: .575rem !important ;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box ;
}

html {
  scroll-behavior: smooth !important ;
}

body {
  margin: var(--header-height) 0 0 0 !important ;
  font-family: var(--body-font) !important ;
  font-size: var(--normal-font-size) !important ;
  color: var(--second-color) !important ;
  user-select: none !important;
}

h1, h2, p {
  margin: 0 !important ;
}

ul {
  margin: 0 !important ;
  padding: 0 !important ;
  list-style: none !important ;
}

a {
  text-decoration: none !important ;
}

img {
  max-width: 100% ;
  height: auto ;
  display: block ;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative !important ;
  font-size: var(--h2-font-size) !important ;
  color: var(--first-color) !important ;
  margin-top: 5rem !important ;
  margin-bottom: var(--mb-4) !important ;
  text-align: center !important ;
}
.section-title::after {
  position: absolute !important ;
  content: "" !important ;
  width: 64px !important ;
  height: 0.18rem !important ;
  left: 0 !important ;
  right: 0 !important ;
  margin: auto !important ;
  top: 2rem !important ;
  background-color: var(--first-color) !important ;
}

.section {
  padding-top: 7.5rem !important ;
  padding-bottom: 2rem !important ;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px !important ;
  display: grid !important ;
  margin-left: var(--mb-2) !important ;
  margin-right: var(--mb-2) !important ;
}

.l-header {
  width: 100% !important ;
  position: fixed !important ;
  top: 0 !important ;
  left: 0 !important ;
  z-index: var(--z-fixed) !important ;
  background-color: #fff !important ;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15) !important ;
}

/*===== NAV =====*/
.nav {
  height: var(--header-height) !important ;
  display: flex !important ;
  justify-content: space-between !important ;
  align-items: center !important ;
  font-weight: var(--font-semi) !important ;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed !important ;
    top: var(--header-height) !important ;
    right: -100% !important ;
    width: 80% !important ;
    height: 100% !important ;
    padding: 2rem !important ;
    background-color: var(--second-color) !important ;
    transition: 0.5s !important ;
  }
}
.nav__item {
  margin-bottom: var(--mb-4) !important ;
}
.nav__link {
  position: relative !important ;
  color: #fff !important ;
  font-size: 1.25rem;
}
.nav__link:hover {
  position: relative !important ;
}
.nav__link:hover::after {
  position: absolute !important ;
  content: "" !important ;
  width: 100% !important ;
  height: 0.40rem !important ;
  border-radius: 1rem 1rem 1rem 1rem;
  left: 0 !important ;
  top: 2rem !important ;
  background-color: var(--first-color) !important ;
}
.nav__logo {
  color: var(--second-color) !important ;
}
.nav-svg {
  margin-top: 1.5rem !important;
}
.nav__toggle {
  color: var(--second-color) !important ;
  font-size: 1.5rem !important ;
  cursor: pointer !important ;
}

/*Active menu*/
.active-link::after {
  position: absolute !important ;
  content: "" !important ;
  width: 100% !important ;
  height: 0.40rem !important ;
  border-radius: 1rem 1rem 1rem 1rem;
  left: 0 !important ;
  top: 2rem !important ;
  background-color: var(--first-color) !important ;
}

/*=== Show menu ===*/
.show {
  right: 0 !important ;
}

/*===== HOME =====*/
.home {
  position: relative !important ;
  row-gap: 5rem !important ;
  padding: 4rem 0 5rem !important ;
  margin-bottom: 5vh !important;
}
.home__data {
  margin-top: 5rem !important;
  align-self: center !important ;
}
@media (max-width:767px){
  .home__data{
    margin-top: 0rem !important;
  }
}
.home__title {
  font-size: var(--big-font-size) !important ;
  margin-bottom: var(--mb-5) !important ;
}
.home__title-color {
  color: var(--first-color) !important ;
}
.home__social {
  display: flex !important ;
  flex-direction: column !important ;
}
.home__social-icon {
  width: max-content !important ;
  margin-bottom: var(--mb-2) !important ;
  font-size: 1.5rem !important ;
  color: var(--second-color) !important ;
}
.home__social-icon:hover {
  color: var(--first-color) !important ;
}
.home__img {
  position: absolute !important ;
  right: 0 !important ;
  bottom: 0 !important ;
  width: 260px !important ;
}
.home__blob {
  fill: var(--first-color) !important ;
}
.home__blob-img {
  width: 360px !important ;
}

/*BUTTONS*/
.button {
  display: inline-block !important ;
  background-color: var(--first-color) !important ;
  color: #fff !important ;
  padding: 0.75rem 2.5rem !important ;
  font-weight: var(--font-semi) !important ;
  border-radius: 0.5rem !important ;
  transition: 0.3s !important ;
}
.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15) !important ;
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem !important ;
  text-align: center !important ;
}
.about__subtitle {
  margin-bottom: var(--mb-2) !important ;
}
.about__img {
  justify-self: center !important ;
}
.about__img img {
  width: 200px !important ;
  border-radius: 0.5rem !important ;
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem !important ;
  text-align: center !important ;
}
.skills__subtitle {
  margin-bottom: var(--mb-2) !important ;
}
.skills__text {
  margin-bottom: var(--mb-4) !important ;
}
.skills__data {
  display: flex !important ;
  justify-content: space-between !important ;
  align-items: center !important ;
  position: relative !important ;
  font-weight: var(--font-semi) !important ;
  padding: 0.5rem 1rem !important ;
  margin-bottom: var(--mb-4) !important ;
  border-radius: 0.5rem !important ;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15) !important ;
}
.skills__icon {
  font-size: 2rem !important ;
  margin-right: var(--mb-2) !important ;
  color: var(--first-color) !important ;
}
.skills__names {
  display: flex !important ;
  align-items: center !important ;
}
.skills__bar {
  position: absolute !important ;
  left: 0 !important ;
  bottom: 0 !important ;
  background-color: var(--first-color) !important ;
  height: 0.25rem !important ;
  border-radius: 0.5rem !important ;
  z-index: var(--z-back) !important ;
}
.skills__html {
  width: 100% !important ;
}
.skills__css {
  width: 90% !important ;
}
.skills__flutter {
  width: 80% !important ;
}
.skills__java {
  width: 70% !important ;
}
.skills__php {
  width: 60% !important ;
}
.skills__js {
  width: 50% !important ;
}


.skills__img {
  border-radius: 0.5rem !important ;
  margin-top: -1rem !important ;
}

@media screen and (max-width : 767px) {
  .skills__img {
    display: none;
  }
}

/* ===== WORK =====*/
.work__container {
  row-gap: 2rem !important ;
}
.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15) !important ;
  border-radius: 0.5rem !important ;
  overflow: hidden !important ;
}
.work__img img {
  transition: 1s !important ;
}
.work__img img:hover {
  transform: scale(1.1) !important ;
}

/* ===== CONTACT =====*/
.contact__input {
  resize: vertical !important ;
  width: 100% !important ;
  font-size: var(--normal-font-size) !important ;
  font-weight: var(--font-semi) !important ;
  padding: 1rem !important ;
  border-radius: 0.5rem !important ;
  border: 1.5px solid var(--second-color) !important ;
  outline: none !important ;
  margin-bottom: var(--mb-4) !important ;
}
.contact__button {
  display: block !important;
  position: relative;
  margin-right: 30%;
  border: none !important ;
  outline: none !important ;
  font-size: var(--normal-font-size) !important ;
  cursor: pointer !important ;
  margin-left: auto !important ;
}

.contact__form{
  display: table-row;
}

/* ===== DOWNLOAD =====*/
.download__button {
  display: block !important ;
  border: none !important ;
  outline: none !important ;
  font-size: var(--normal-font-size) !important ;
  cursor: pointer !important ;
  margin-left: auto !important ;
}

.downloadpkg__box {
  height: 65vh;
}

.pkgs-container { 
  display: flex;
  justify-content: space-between;
  height: 65vh;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pkg-box {
   background-color:rgba(192, 192, 192, 0.5);
   width: 100%;
   padding: 1.5rem;
   border-radius: 2rem;
   border-color: gray;
   border-style: solid;
   text-align: center;
   color: var(--first-color);
   font-weight: 500;
}
.pkgs-container :hover {
  border-color: rgba(192, 192, 192, 0.5);
  filter: blur(.075rem);
  transition: .75s;
}
@media screen and (max-width:767px) {
  .downloadpkg__box {
    height: 70vh;
  }
  .pkgs-container { 
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    height: 70vh;
  }
  .pkg-box {
    background-color:rgba(192, 192, 192, 0.5);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5rem;
    margin-bottom: 2rem;
 }
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color) !important ;
  color: #fff !important ;
  text-align: center !important ;
  font-weight: var(--font-semi) !important ;
  padding: 2rem 0 !important ;
}
.footer__title {
  font-size: 2rem !important ;
  margin-bottom: var(--mb-4) !important ;
}
.footer__social {
  margin-bottom: var(--mb-4) !important ;
}
.footer__icon {
  font-size: 1.5rem !important ;
  color: #fff !important ;
  margin: 0 var(--mb-2) !important ;
}
.footer__copy {
  font-size: var(--smaller-font-size) !important ;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem !important ;
  }
  .home__img {
    width: 200px !important ;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem !important ;
  }
  .home__social {
    padding-top: 0 !important ;
    padding-bottom: 2.5rem !important ;
    flex-direction: row !important ;
    align-self: flex-end !important ;
  }
  .home__social-icon {
    margin-bottom: 0 !important ;
    margin-right: var(--mb-4) !important ;
  }
  .home__img {
    width: 300px !important ;
    bottom: 25% !important ;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr) !important ;
    align-items: center !important ;
    text-align: initial !important ;
  }
  .skills__container {
    grid-template-columns: 0.7fr !important ;
    justify-content: center !important ;
    column-gap: 1rem !important ;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr) !important ;
    column-gap: 2rem !important ;
    padding-top: 2rem !important ;
  }
  .contact__form {
    width: 360px !important ;
    padding-top: 2rem !important ;
  }
  .contact__container {
    justify-items: center !important ;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0 !important ;
  }
  .section {
    padding-top: 4rem !important ;
    padding-bottom: 3rem !important ;
  }
  .section-title {
    margin-bottom: var(--mb-6) !important ;
  }
  .section-title::after {
    width: 80px !important ;
    top: 3rem !important ;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem) !important ;
  }
  .nav__list {
    display: flex !important ;
    padding-top: 0 !important ;
  }
  .nav__item {
    margin-left: var(--mb-6) !important ;
    margin-bottom: 0 !important ;
  }
  .nav__toggle {
    display: none !important ;
  }
  .nav__link {
    color: var(--second-color) !important ;
  }
  .home {
    padding: 8rem 0 2rem !important ;
  }
  .home__img {
    width: 400px !important ;
    bottom: 10% !important ;
  }
  .about__container {
    padding-top: 2rem !important ;
  }
  .about__img img {
    width: 300px !important ;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr) !important ;
    column-gap: 2rem !important ;
    align-items: center !important ;
    text-align: initial !important ;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr) !important ;
    column-gap: 2rem !important ;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto !important ;
    margin-right: auto !important ;
  }
  .home {
    padding: 10rem 0 2rem !important ;
  }
  .home__img {
    width: 450px !important ;
  }
}